{% extends "swift/layout/auth.html" %}
{% load static %}
{% block body_block %}
    <div class="login-bg">
        <div class="container">
            <div class="login-wrapper">
                    <div class="login-box">
                        <div class="login-top">
                            <h2>Welcome</h2>
                            <p>Please Login your Account</p>
                        </div>
                        <form method="post" action="{% url 'appswift:signin' %}" name="LoginForm" id="LoginForm">
                            {% csrf_token %}
                            <div class="login-input">
                                {{form.email}}
                                {% comment %} <input type="text" placeholder="Enter your email"> {% endcomment %}
                                <p class="validation-text"></p>
                            </div>
                            <div class="login-input">
                                {{form.password}}
                                {% comment %} <input type="text" placeholder="Enter the password"> {% endcomment %}
                                <p class="validation-text"></p>
                            </div>
                            <div class="login-input">
                                <a href="/forgot-password/">Forgot Password ?</a>
                            </div>
                            <div class="login-btn-wrapper">
                                <button class="main-button">Login</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
{% endblock body_block %}
{% block page_script %}
<script>
    $(document).ready(function () {
        $("#LoginForm").validate(
            {
                errorPlacement: function (error, element) {
                    if (element.hasClass('SumoUnder')) {
                        error.insertAfter(element.next('.CaptionCont'));
                    } else if(element.hasClass('file-upload-input')) {
                        error.insertAfter('.leave-docs');
                    } else {
                        error.insertAfter(element);
                    }
                },
                ignore: "",
                rules: {
                },
                messages:
                {

                }
            });
    });

</script>
{% endblock page_script %}